.container {
  display: grid;
  /* grid-template-columns specifies the width of each column */
  /* grid-template-columns: 50px 50px 50px; */ /* we can use repeat(3, 50px)  */
  /* grid-template: repeat(3, 1fr) / repeat(2, 50px); */ /* Short hand method for grid-template-columns and grid-template-rows */
  grid-template-columns: 1fr 1fr 1fr; /* use nfr for fraction unit. specifying the ratio at which each column grows as n */

  /* grid-template-rows specifies the width of each row */
  /* grid-template-rows: 50px 50px 50px; */ /* we can use repeat(3, 50px)  */
  /* grid-template: repeat(3, 1fr) / repeat(2, 50px); */ /* Short hand method for grid-template-rows and grid-template-rows */
  grid-template-rows: 1fr 1fr 1fr; /* use nfr for fraction unit. specifying the ratio at which each row grows as n */

  text-align: center;
}

div.container > div:nth-child(odd) {
  background-color: aquamarine;
}

div.container > div:nth-child(4) {
  background-color: burlywood !important;
}

div.container > div:nth-child(even) {
  background-color: blueviolet;
}
